<h2>Edit <%= resource_name.to_s.humanize %></h2>

<#%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <form enctype="multipart/form-data" action="/users" accept-charset="UTF-8" method="post">
    <input type="hidden" name="_method" value="put" />

  <%= react_component 'O_regform', { user: current_user } %>
  <#% end %>

</form>

<%= link_to "Back", :back %>
