
<div class="edit_user_acc">
    <h2>Редактировать <%= resource_name.to_s.humanize %></h2>


      <%= render "devise/shared/error_messages", resource: resource %>

      <form enctype="multipart/form-data" action="/users" accept-charset="UTF-8" method="post">
        <input type="hidden" name="_method" value="put" />

      <%= react_component 'O_editform', { user: current_user } %>


    </form>

    <%= link_to "Back", :back %>
</div>
