
<div class="edit_user_acc">
  <div class="edit_user_acc_c">
      <h2>Редактировать</h2>


        <%= render "devise/shared/error_messages", resource: resource %>

        <form enctype="multipart/form-data" action="/users" accept-charset="UTF-8" method="post">
          <input type="hidden" name="_method" value="put" />

        <%= react_component 'O_editform', { user: current_user } %>


      </form>


  </div>

</div>
