<div class="comment_content">
  <%= react_component 'O_comment', {
    comment: comment,
    author: comment.user,
    post: @post,
    comments: @post.comments,
    currentUser: current_user
  } %>
</div>
