<div class="comment_content">
	<p>
		<b>Комментатор:</b>
		<%= comment.commenter %>
	</p>
	<p>
		<b>Текст:</b>
		<%= comment.body %>
	</p>
</div>
<p>
	<%= link_to 'Удалить комментарий', [comment.post, comment],
								:confirm => 'Вы уверены?',
								:method => :delete %>
</p>
