<div class="comment_content">
	<p>
	  <b>Комментатор:</b>
	  <%= User.find(comment.user_id).username %>
	</p>
	<p>
		<b>Текст:</b>
		<%= comment.body %>
	</p>
</div>

<% if user_signed_in? && current_user.id == comment.user_id  %>
	<p>
	  <%= link_to 'Destroy Comment', [comment.post, comment],
	               :confirm => 'Are you sure?',
	               :method => :delete %>
	</p>
<% end %>
