<%= form_for([@post, @post.comments.build]) do |f| %>
	<div class="field">
			<%= image_tag(current_user.image.small_thumb.url, alt: 'Image') if current_user.image? %>
	</div>
	<div class="field">
		<%= f.text_area :body %>
	</div>
		<div class="actions">
		<%= f.submit "Создать комментарий" %>
	</div>
<% end %>
