<div class="search-page">
  <div class="search">
    <%= render 'search/form' %>
  </div>


  <% current_user_id = -1 %>
  <%if current_user%>
    <%current_user_id= current_user.id%>
  <% end %>

  <h1 class="r">Найденные публикации</h1>


  <div class="search-page_preview">
    <div class="search-page_preview_posts">
      <%= react_component 'O_posts_preview', { posts: @posts, current_user_id: current_user_id} %>
    </div>
    <div class="search-page_preview_tags">

    </div>
  </div>




</div>
