
<div class="T_search_search_wrapper">
  <div class="search">
    <%= render 'search/form' %>
  </div>
  <h2>Результаты по запросу: </h2>

  <% current_user_id = -1 %>
  <%if current_user%>
    <%current_user_id= current_user.id%>
  <% end %>

  <% if @posts.length > 0 %>

    <%= react_component 'O_posts_preview', { posts: @posts, current_user_id: current_user_id} %>

  <% else %>
    <p>Ничего не нашлось(</p>
    <div class="T_search_search_img"></div>
  <% end %>

</div>
