<body class="show_user_body">
    <div class="account">
      <% @action = ""%>
      <% if user_signed_in? && @user.id == current_user.id %>
          <% @action = 'Редактировать'%>
      <% elsif user_signed_in? && current_user.admin == true %>
          <% @action = 'Переназначить'%>
      <% elsif user_signed_in? && current_user.followees.include?(@user) %>
          <% @action = 'Отписаться'%>
      <% elsif user_signed_in? %>
          <%= @action = 'Подписаться'%>
      <% else %>
          <% @action = 'Войти'%>
      <% end%>

      <%= react_component 'A_account_cover', { user: @user } %>

      <%= react_component 'M_account', { belonging: @belonging, action: @action, user: @user, current_user_id: current_user.id } %>
    </div>
</body>
