<body class="show_user_body">
      <% @action = ""%>
      <% if user_signed_in? && @user.id == current_user.id %>
          <% @action = 'Редактировать'%>
      <% elsif user_signed_in? && current_user.admin == true %>
          <% @action = 'Переназначить'%>
      <% elsif user_signed_in? && current_user.followees.include?(@user) %>
          <% @action = 'Отписаться'%>
      <% elsif user_signed_in? %>
          <%= @action = 'Подписаться'%>
      <% else %>
          <% @action = 'Войти'%>
      <% end%>

      <% current_user_id = -1 %>
      <%if current_user%>
        <%current_user_id= current_user.id%>
      <% end %>

      <%= react_component 'T_account', { user: @user, action: @action, current_user_id: current_user_id, post_type_id: 4, genres: @genres} %>
      <%= react_component 'A_link', { link: "/posts/newportfolio", linkColor: 'link-create'}%>
</body>
