<% @action = "/projects/"%>
  <%if @project.id%>
    <%if @project.id > 0%>
      <% @action = @action + @project.id.to_s %>
    <% end %>
  <% end %>

<form enctype="multipart/form-data" action=<%= @action %> accept-charset="UTF-8" method="post">
  <%= react_component 'O_projectform', { project: @project, project_genres: @project_genres, active_genres: @project_genres } %>

</form>
