<% current_user_id = -1 %>
<div className = "project_wrapper">
  <%if current_user%>
    <%current_user_id= current_user.id%>
  <% end %>



  <%= react_component 'T_project_show', {
    project: @project,
    current_user_id: current_user_id,
    genres: @genres
  } %>



</div>




<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
