<form enctype="multipart/form-data" action="/posts" accept-charset="UTF-8" method="post">
  <%= react_component 'O_userpostform', { post: @post, categories: @categories, author: current_user } %>
</form>
