<body class="new_post">
  <%= render 'navbar/navbarleft' %>
  <div class="new_post_wrapper">
    <div class="new_post_card">
      <h1>Создание загадки</h1>
      <%= render 'formpuzzles', post: @post %>
      <%= link_to 'Назад', admin_context_path(posts: "", post_type: "puzzles") %>
    </div>
  </div>
</body>
