<body class="new_post">
  <%= render 'navbar/navbarinner' %>
  <div class="new_post_wrapper">
    <div class="new_post_card">
      <h1>Создание загадки</h1>
      <%= render 'formpuzzles', post: @post %>
      <%= link_to 'Назад', posts_path %>
    </div>
  </div>
  <%= render 'footer/footerinner' %>
</body>
