<body class="new_post">
  <div class="new_post_wrapper">
    <%= react_component 'A_title', { title: "Новый пост", headingStyle: 'h2' } %>
    <%= render 'formportfolio', post: @post, author: current_user, projects: @projects %>
  </div>
</body>
