<body class="new_post">
  <%= render 'navbar/navbarleft' %>
  <div class="new_post_wrapper">
    <div class="new_post_card">
      <h1>Создание обзора</h1>
      <%= render 'form', post: @post %>
      <%= link_to 'Назад', posts_path %>
    </div>
  </div>
</body>
