<% current_user_id = -1 %>
<%if current_user%>
  <%current_user_id= current_user.id%>
<% end %>

<body class="show_body">

  <div class="wrapper_show">
    <div class="narrow">

      <%= react_component 'T_article', {
        post: @post,
        current_user_id: current_user_id,
        comment: @comment,
        author: @comment.user,
        post: @post,
        comments: @post.comments,
        currentUser: current_user,
        post_id: @post.id,
        user: current_user
      } %>

      </div>

  </div>

</body>
