.checkbox {
  label {
    input {
      font-family: "RedRing", sans-serif;
      font-size: 16px;
      font-weight: normal;
      color: var(--mineral-gray);
      text-decoration: none;
      margin-right: 8px;
    }
  }
}
