.Link {
  &.link-create {
    margin: auto;
    border-radius: 36px;
    width: 72px;
    height: 72px;
    background-color: var(--neon-blue);
    border: none;
    position: fixed;
    right: 83px;
    top: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
      width: 32px;
    }
  }
  &.new-project {
    margin: 0 14px 0 0;
    box-sizing: border-box;
    padding: 20px 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 16px;
    width: 100px;
    height: 115px;
    background-color: var(--ice-white);
    border: none;
    font-size: 12px;
    line-height: 16px;
    color: var(--mineral-gray);
    font-weight: bold;
  }
}
