.Like_button {
  display: flex;
  vertical-align: middle;
  width: 54px;
  margin-right: 8px;
  button {
    background-color: transparent;
    border: none;
    text-decoration: none;
  }
  span {
    line-height: 2vw;
  }
}
