//Цвета
.blue {
  color: var(--blue-color);
}

.white {
  color: var(--white-color);
}


//Размеры
.h4 {
  font-family: "RedRing", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: bold;
}

.h6 {
  font-family: "RedRing", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: bold;
}


//Выравнивание
.center_align {
  text-align: center;
}

.left_align {
  text-align: left;
}
