.Reviews_page {
  background-color: var(--zelda-green);
  .Reviews_wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 88px 0;
    background-color: var(--ice-white);;
    border-radius: 64px;
  }
}
