  select {
  box-sizing: border-box;
  font-family: "RedRing", sans-serif;
  font-size: 16px;
  height: 32px;
  font-weight: normal;
  color: var(--mineral-gray);
  border-radius: 32px;
  border: none;
  padding: 0px 4px 0px 12px;
  background-color: var(--light-purple);
  margin: 0 28px 42px 0;
  option {
    font-family: "RedRing", sans-serif;
    font-size: 16px;
    font-weight: normal;
    color: var(--navy-blue);
  }
}
