::-webkit-input-placeholder {color: var(--mineral-gray); opacity:1;}
::-moz-placeholder          {color: var(--mineral-gray); opacity:1;}
:-moz-placeholder           {color: var(--mineral-gray); opacity:1;}
:-ms-input-placeholder      {color: var(--mineral-gray); opacity:1;}

:focus::-webkit-input-placeholder {opacity:0;}
:focus::-moz-placeholder          {opacity:0;}
:focus:-moz-placeholder           {opacity:0;}
:focus:-ms-input-placeholder      {opacity:0;}

.textarea {
 box-sizing: border-box;
 width: 674px;
 background-color: var(--light-purple);
 font-family: "RedRing";
 color: var(--navy-blue);
 font-size: 18px;
 font-weight: normal;
 border-radius: 32px;
 border: none;
 padding: 8px 24px;
 margin-bottom: 40px;
}

.textarea--big {
  height: 160px;
}

.textarea--small {
  height: 40px;
}
