// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@font-face {
  font-family: "RedRing";
  src: url("RedRing-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "RedRing";
  src: url("RedRing-Medium.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "RedRing";
  src: url("RedRing-Light.woff") format("woff");
  font-weight: lighter;
}

//@font-face {
  //font-family: "RedRing";
//  src: url("RedRing-Light.woff") format("woff");
//  font-weight: lighter;
//}

@mixin small {
  font-size: 1.7vw;
  line-height: 4.7vw;
  font-weight: lighter;
}

@mixin medium {
  font-size: 2vw;
  line-height: 5.5vw;
  font-weight: bold;
}

@mixin h1 {
  font-size: 10vw;
  font-weight: bold;
  margin-bottom: 13vw;
  color: $mainColor;
  font-family: "RedRing", sans-serif;
}

@mixin h2 {
  font-size: 6.4vw;
  font-weight: normal;
  margin-bottom: 8vw;
  color: $mainColor;
  font-family: "RedRing", sans-serif;
}

@mixin two_img {
  div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img {
      @include small_image;
    }
  }
}

@mixin p_underphoto {
  margin-top: 5vw;
}

.big_shift {
  margin-left: 17vw;
}

@mixin maintext_text {
  margin-bottom: 5vw;
}

@mixin maintext_afterbigphoto {
  margin-top: 18vw;
}

@mixin maintext {
    font-size: 3.7vw;
    line-height: 6.5vw;
    font-weight: normal;
    font-family: "RedRing", sans-serif;
    color: white;
}

@mixin maintext_abovephoto {
  margin-bottom: 11vw;
}

@mixin maintext_beforephoto {
  margin-bottom: 15vw;
}

@mixin last_object {
  margin-bottom: 35vw;
}

@mixin lastest_object {
  margin-bottom: 45vw;
}

@mixin big_image {
  width: 100%;
}

@mixin small_image {
  width: 47.5%;
}

@mixin image_underimage {
  margin-top: 4.5vw;
}


@mixin maintext_logo {
  margin-top: 4vw;
  margin-bottom: 16vw;
}

@mixin addedtext {
  font-size: 1.8vw;
  line-height: 4.8vw;
  font-weight: normal;
}

@mixin lighter {
  font-weight: lighter;
}

@mixin text_underimg {
  margin-top: 3vw;
}

@mixin img_aftertext {
  margin-top: 8vw;
}
.img_one_of_two {
  display: flex;
  flex-direction: column;
}

.img_two_of_two {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@mixin text_above {
  margin-bottom: 4vw;
}



@mixin text_underimgm {
  margin-top: 2vw;
}

@mixin h1m {
  font-size: 3vw;
  font-weight: bold;
  margin-bottom: 6vw;
}

@mixin h2m {
  font-size: 2.4vw;
  margin-bottom: 3vw;
}

@mixin maintextm {
  font-size: 1.4vw;
  width: 60%;
  line-height: 2.5vw;
}

@mixin maintext_textm {
  margin-bottom: 2.6vw;
}

@mixin last_objectm {
   margin-bottom: 15vw;
}

@mixin lastest_objectm {
  margin-bottom: 23vw;
}

@mixin maintext_abovephotom {
  margin-bottom: 7vw;
}

@mixin maintext_beforephotom {
  margin-bottom: 9vw;
}

@mixin maintext_afterbigphotom {
  margin-top: 7vw;
}

@mixin p_underphotom {
  margin-top: 2vw;
}


@mixin small_text {
  font-size: 1.2vw;
  line-height: 2vw;
}

$mainColor: #F5F6FF;
$white: #F5F6FF;
$green: #C1F52F;
$blue: #75FEFA;
$gray: #9896AE;
$dark: #04005E;



@media (min-width: 320px) {
  body.about {
    //background-image: url(IphoneStyle.png);
    box-sizing: border-box;
    font-family: "RedRing", sans-serif;
    opacity: 1;
    background-color: #1C1C1E;
    background-size: 100vw;
    background-repeat: no-repeat;
    position: relative;
    color: $white;
    z-index: -1;
    height: 312.5vw;
    padding: 5vw;
    margin: 0px;
       p {
         @include maintext;
       }
       h1 {
         @include h1;
       }
       h2 {
         @include h2;
       }
       p.small_text {
         @include small_text;
       }
       section.menu {
        display: none;
       }
       div.wrapper {
         nav {
           margin-left: -5vw;
           margin-top: 0vw;
           div.high_width {
             width: 90vw;
             height: 5vw;
             display: flex;
             justify-content: space-between;
             z-index: 1;
             position: fixed;
             div.graphiklogo {
               display: block;
               img {
                 width: 10vw;
               }
             }
             div.fontlogo {
               img {
                 display: none;
               }
             }
             div.menu_info {
               padding: 0vw;
               div.menu_info_th{
                 display: none;
                 a:last-child {
                   margin-right: 0vw;
                 }
               }
               div.registration {
                 display: none;
               }
               div.menul {
                 img {
                   display: block;
                   width: 7vw;
                   &:hover .menu_mobile {
                     opacity: 1;
                   }
                 }
               }
              }


             }
             div.menu_mobile {
               z-index: 2;
               top: 0;
               position: fixed;
               opacity: 1;
               display: none;
               width: 104vw;
               height: 100vh;
               background-color: #04005E;
               div.cancel {
                  display: flex;
                  flex-direction: row;
                  justify-content: flex-end;
                  width: 90vw;
                  padding: 5vw;
                  img {
                    color: #75FEFA;
                    width:   10vw;
                    &:hover .menu_mobile {
                      opacity: 0;
                    }
                  }
               }
               div.menu_mobile_th {
                 width: 100vw;
                 div {
                   height: 100vh;
                   width: 100vw;
                   position: absolute;
                   top: 0;
                   display: flex;
                   flex-direction: column;
                   justify-content: center;
                   align-items: center;
                   margin: 0 auto;
                   a {
                    text-decoration: none;
                    font-size: 8vw;
                    color: #75FEFA;
                    margin-bottom: 8vw;
                  }
                }
               }
             }

            }
            section.logo {
              padding-top: 20vw;
               div.logo_concept {
                 div.concept {
                   @include last_object;
                   p.first_text {
                     font-size: 4.5vw;
                     line-height: 7vw;
                     margin-bottom:  9vw;
                   }
                   p.big_shift {
                     font-size: 2vw;
                     line-height: 6vw;
                   }
                 }
                 div.logo_blocks {
                    img {

                      @include big_image;
                      @include maintext_afterbigphoto;
                    }
                    p {
                      @include text_underimg;
                    }
                 }
                 div.s {
                   p {
                     margin-top: -4vw;
                   }
                 }
                 div.logo_blocks_smalllogo {
                   @include last_object;
                   img {
                     width: 70%;
                     @include maintext_afterbigphoto;
                     }
                     p {
                       @include text_underimg;
                       @include maintext_abovephoto;
                     }
                 }
               }
               div.logo_design {
                  img {
                    @include big_image;
                    @include img_aftertext;
                    @include maintext_beforephoto;
                  }
                  div.logo_design_img {
                     @include last_object;
                     display: flex;
                     flex-direction: column;
                     div.logo_design_img_two {
                       @include big_image;
                       display: flex;
                       flex-direction: row;
                       img {
                         width: 43.3vw;
                         @include img_aftertext;
                         margin-bottom: 3vw;
                       }
                       img:first-child {
                         margin-right: 3vw;
                       }
                     }
                     img {
                       margin-top: 0vw;
                       @include big_image;
                     }
                  }
               }
               div.logo_field {
                 @include last_object;
                  img {
                    @include big_image;
                    @include img_aftertext;
                    @include maintext_beforephoto;
                  }

               }
               div.examples_of_using {
                  div.img_one_of_twot {
                    @include img_aftertext;
                    display: flex;
                    flex-direction: row;
                    div.img_one_of_two {
                      display: flex;
                      flex-direction: column;
                        img {
                          width: 43.3vw;
                        }
                        img:first-child {
                          margin-right: 3vw;
                        }
                        p.small_text {
                          font-size: 2.5vw;
                          line-height: 4vw;
                          @include text_underimg;
                        }
                      }
                    }
                    div.img_two_of_twot {
                      @include lastest_object;
                      @include img_aftertext;
                      display: flex;
                      flex-direction: row;
                      div.img_one_of_two {
                        display: flex;
                        flex-direction: column;
                          img {
                            width: 43.3vw;
                          }
                          img:first-child {
                            margin-right: 3vw;
                          }
                          p.small_text {
                            font-size: 2.5vw;
                            line-height: 4vw;
                            @include text_underimg;
                          }
                        }
                      }


               }

            }

            section.typography {
              div.fonts {
                @include last_object;
                div.two_fonts {
                  div.kinds_of_fonts {
                     p {
                       @include maintext_afterbigphoto;
                     }
                     img {
                       width: 70%;
                     }
                  }
                }
                div.kinds_of_fonts {
                   p {
                     @include maintext_afterbigphoto;
                   }
                   img {
                     width: 70%;
                   }
                }

              }
            }

       }

  }
}
