// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@font-face {
  font-family: "RedRing";
  src: url("RedRing-Regular.woff") format("woff");
  font-weight: normal;
}

@font-face {
  font-family: "RedRing";
  src: url("RedRing-Medium.woff") format("woff");
  font-weight: bold;
}

//@font-face {
  //font-family: "RedRing";
//  src: url("RedRing-Light.woff") format("woff");
//  font-weight: lighter;
//}

@mixin small {
  font-size: 1.7vw;
  line-height: 4.7vw;
  font-weight: lighter;
}

@mixin medium {
  font-size: 2vw;
  line-height: 5.5vw;
  font-weight: bold;
}

@mixin h1 {
  font-size: 10vw;
  font-weight: bold;
  margin-bottom: 13vw;
  color: $mainColor;
  font-family: "RedRing", sans-serif;
}

@mixin h2 {
  font-size: 6.4vw;
  font-weight: normal;
  margin-bottom: 8vw;
  color: $mainColor;
  font-family: "RedRing", sans-serif;
}

@mixin two_img {
  div {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img {
      @include small_image;
    }
  }
}

@mixin p_underphoto {
  margin-top: 5vw;
}

.big_shift {
  margin-left: 17vw;
}

@mixin maintext_text {
  margin-bottom: 5vw;
}

@mixin maintext_afterbigphoto {
  margin-top: 18vw;
}

@mixin maintext {
    font-size: 2vw;
    line-height: 5.5vw;
    font-weight: normal;
    font-family: "RedRing", sans-serif;
    color: white;
}

@mixin maintext_abovephoto {
  margin-bottom: 11vw;
}

@mixin maintext_beforephoto {
  margin-bottom: 15vw;
}

@mixin last_object {
  margin-bottom: 35vw;
}

@mixin lastest_object {
  margin-bottom: 45vw;
}

@mixin big_image {
  width: 100%;
}

@mixin small_image {
  width: 47.5%;
}

@mixin image_underimage {
  margin-top: 4.5vw;
}


@mixin maintext_logo {
  margin-top: 4vw;
  margin-bottom: 16vw;
}

@mixin addedtext {
  font-size: 1.8vw;
  line-height: 4.8vw;
  font-weight: normal;
}

@mixin lighter {
  font-weight: lighter;
}

.img_one_of_two {
  display: flex;
  flex-direction: column;
}

.img_two_of_two {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

$mainColor: #F5F6FF;



  body.about {
    //background-image: url(IphoneStyle.png);
    box-sizing: border-box;
    font-family: "RedRing", sans-serif;
    opacity: 1;
    background-color: #1C1C1E;
    background-size: 100vw;
    background-repeat: no-repeat;
    position: relative;
    z-index: -1;
    margin: 5vw;
    height: 312.5vw;
    div.wrapper {
      position: relative;
      .logo {
        div.logo_concept {
          div.concept {
            p.first_text {
               font-size: 2.5vw;
               line-height: 5.5vw;
               font-weight: bold;
               margin-bottom: 8vw;
            }
            p.big_shift {
              @include maintext_text;
              @include lighter;
              font-size: 2vw;
              line-height: 5.5vw;
              margin-bottom: 33vw;
            }
          }
          h1 {
            @include h1;
          }
          h2 {
            @include h2;
          }
          p {
            @include maintext_text;
            @include maintext;
          }
          p.beforephoto {
            @include maintext_beforephoto;
            @include maintext;
          }
          div.logo_blocks {
            display: flex;
            flex-direction: column;
            img {
              @include big_image;
            }
            p.pp {
              @include maintext_logo;
              @include maintext;
            }
          }
          div.logo_blocks_smalllogo {
            display: flex;
            flex-direction: column;
            img {
              width: 68%;
            }
            p.pp {
              @include maintext_logo;
              @include maintext;
            }
          }
        }

        div.logo_design {
          h2 {
            @include h2
          }
          p.above_photo {
            @include maintext_abovephoto;
            @include maintext;
          }
          img {
            @include big_image;
          }
          p.under_photo {
            @include maintext_abovephoto;
            @include maintext_afterbigphoto;
            @include maintext;
          }
          div.logo_design_img {
            display: flex;
            flex-direction: column;
            @include two_img;
            >img {
              @include big_image;
              @include image_underimage;
              @include last_object;
            }
          }
        }

        div.logo_field {
          h2 {
            @include h2
          }
          p {
            @include maintext;
            @include maintext_abovephoto;
          }
          img {
            @include big_image;
          }
          p.under_photo {
            @include maintext_afterbigphoto;
          }
          @include last_object;
        }

        div.examples_of_using {
          h2{
            @include h2
          }
          p {
            @include maintext;
            @include maintext_abovephoto;
          }
          div.img_one_of_two {
            div {
              img {
                @include big_image;
              }
              p {
                @include p_underphoto;
              }
              img:last-of-type {
                @include image_underimage;
              }
              p:last-of-type {
                @include p_underphoto;
              }
            }

          }
          div.img_two_of_two {
            @include image_underimage;
            width: 100%;
            justify-content: space-between;
            div {
              width: 47.5%;
              img {
                @include big_image;
              }
              span {
                @include p_underphoto;
              }
            }
            @include lastest_object;
          }

        }
      }

      section.typography {
        h1 {
          @include h1;
        }
        h2 {
          @include h2;
        }
        p {
          @include maintext;
          @include maintext_abovephoto;
        }
        div.two_fonts {
          display: flex;
          flex-direction:column;
        }
        div.kinds_of_fonts {
          p.medium {
            @include medium;
            margin-bottom: 5vw;
          }
          img {
            width: 70%;
            @include maintext_abovephoto;
          }
        }
        div.our_font {
          img {
            @include big_image;
            @include last_object;
          }
        }

        div.ratios {
          h2 {
              @include h2;
          }
          >p {
            @include maintext;
            @include maintext_abovephoto;
          }
          div.img_one_of_two {
            div {
              p {}
              img {
                @include big_image;
              }
              p.small {
                @include maintext_abovephoto;
                @include lighter;
              }
            }
          }
          @include last_object;
        }

      }

      section.composition {
        h1 {
          @include h1;
        }
        h2 {
          @include h2;
        }
        div.elements {
          div {}
        }
        p {
          @include maintext;
          @include maintext_abovephoto;
        }
      }



    }







}


@media (max-width: 768px) {




}
