/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');


 @media (min-width: 1440px) and (max-width: 1920px) {
   body {
      margin: 0;
      background-color: var(--mineral-gray);
      box-sizing: border-box;
      .Wrapper {
        background-color: var(--light-gray);
        overflow-x: hidden;
        border-radius: 64px;
        a {
          text-decoration: none;
          &:hover {
            background-color: transparent;

          }
        }
        div {
          box-sizing: border-box;
        }
      }
    }
 }

 @media (max-width: 375px) {
   body {
      margin: 0;
      background-color: var(--mineral-gray);
      box-sizing: border-box;
      .Wrapper {
        background-color: var(--light-gray);
        overflow-x: hidden;
        border-radius: 0px;
        a {
          text-decoration: none;
          &:hover {
            background-color: transparent;

          }
        }
        div {
          box-sizing: border-box;
        }
      }
    }
 }
