/*:root{
  --default: #2763BD;
  --unactive: #2763BD;
  --text: #2763BD;
  --graytext: #9F9F9F;
  --alternative: #424242;
  --back: #9F9F9F;

}*/



.btn {
  font-family: 'RedRing', sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2 ease;
}
.btn > img{
  display: none;
  padding-right: 5px;
}







/* Button sizes */

.btn--small {
  padding: 8px 26px;
  font-size: 14px;
  border-radius: 18px;
}

.btn--medium {
  padding: 15px 36px;
  font-size: 18px;
  border-radius: 28px;
}

.btn--large {
  padding: 20px 40px;
  font-size: 28px;
  border-radius: 40px;
}

/* Button colors */

.btn--minor {
  background-color: transparent;
  color: var(--blue-color);
  border: 3px solid #04005E;
}

.btn--minor:hover {
  background-color: transparent;
  color: darken(#04005E, 3%);
  border-color: darken(#04005E, 3%);
}

.btn--blue {
  background-color: var(--blue-color);
  color: var(--white-color);
  border: none;
}

.btn--blue:hover {
  background-color: darken(#04005E, 3%);
  color: darken(#F9F9FF, 1%);
  border: none;
}

.btn--green {
  background-color: var(--green-color);
  color: var(--blue-color);
  border: none;
}

.btn--green:hover {
  background-color: darken(#CCFD38, 3%);
  color: darken(#04005E, 3%);
  border: none;
}

.btn--gray {
  background-color: var(--gray-color);
  color: var(--white-color);
  border: none;
}

.btn--gray:hover {
  background-color: darken(#9896AE, 3%);
  color: darken(#F9F9FF, 1%);
  border: none;
}
