// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
@media (min-width: 1440px) and (max-width: 1920px) {
  div.comments {
    div.comment_content  {
      p {
        font-size: 18px;
        line-height: 24px;
        color: var(--navy-blue);
        font-family: "RedRing";
        font-weight: normal;
      }
    }

  }
}


@media (max-width: 375px) {
  .comments {
    padding-left: 20px;
  }
}
