
.Favorites {
  .Favorites_wrapper {
    display: flex;
    flex-direction: row;
    width: 1220px;
    justify-content: space-between;
    align-items: flex-start;
    .Favorites_release {
      h2 {
        color: var(--navy-blue);
      }
    }
  }
}
