footer  {
  margin: 5vw;
  div.footer_menu {
    margin-bottom: 10vw;
    margin-top: 15vw;
    display: flex;
    flex-direction: row;
    a {
      font-size: 3.8vw;
      color: #9896AE;
      text-decoration: none;
      font-weight: bold;
      margin-right: 10vw;
    }
  }
  div.footer_info {
    margin-bottom: 16vw;
    color: #9896AE;
    div.footer_help {
      margin-bottom: 12vw;
      p {
        font-size: 2.4vw;
        line-height: 5.8vw;
        margin-bottom: 4vw;
      }
    }
    div.footer_sites {
      p {
        font-size: 2.4vw;
        line-height: 5.8vw;
        margin-bottom: 6vw;
      }
      div.footer_sites_th {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        img {
          width: 16vw;
        }
      }
    }
  }
  div.added_info {
    width: 100%;
    color: #9896AE;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    img {
      width: 40%;
    }
    div.added_info_added {
      margin-top: 6vw;
      display: flex;
      flex-direction: row;
      p {
        font-size: 3.4vw;
        margin-right: 3vw;
      }
    }
  }
}
