@media (max-width: 1920px) {
  footer  {
    width: 93vw;
    background-color: #CCFD38;
    padding: 4rem 4rem 6rem 4rem;
    div.footer_menu {
      margin-bottom: 4vw;
      margin-top: 3vw;
      display: flex;
      flex-direction: row;
      a {
        font-family: "RedRing";
        font-size: 1.4vw;
        color: #9896AE;
        text-decoration: none;
        font-weight: bold;
        margin-right: 6vw;
      }
    }
    div.footer_info {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin-bottom: -2vw;
      color: #9896AE;
      div.footer_help {
        width: 30vw;
        margin-bottom: 12vw;
        p {
          font-family: "PTMono";
          font-size: 1.4vw;
          line-height: 2vw;
          margin-bottom: 2vw;
        }
      }
      div.footer_sites {
        width: 32vw;
        p {
          font-family: "PTMono";
          font-size: 1.4vw;
          line-height: 2vw;
          margin-bottom: 3vw;
        }
        div.footer_sites_th {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          img {
            width: 6vw;
          }
        }
      }
    }
    div.added_info {
      width: 100%;
      color: #9896AE;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      div.small_logo {
        display: none;
        img {
          display: none;
        }
      }
      div.big_logo {
        img {
          display: block;
          width: 40vw;
        }
      }
      div.added_info_added {
        margin-top: 6vw;
        display: flex;
        flex-direction: row;
        p {
          font-size: 1.4vw;
          margin-right: 3vw;
        }
        p:last-child {
          font-size: 1.4vw;
          margin-right: 0vw;
        }
      }
    }
  }

}

@media (max-width: 1440px) {
  footer {
     div.footer_menu {
       margin-top: -2vw;
       margin-bottom: 3vw;
     }
  }
}

@media (max-width: 768px) {
  footer  {
    margin: 5vw;
    div.footer_menu {
      margin-bottom: 10vw;
      margin-top: 15vw;
      display: flex;
      flex-direction: row;
      a {
        font-size: 3.8vw;
        color: #9896AE;
        text-decoration: none;
        font-weight: bold;
        margin-right: 10vw;
      }
    }
    div.footer_info {
      margin-bottom: 16vw;
      color: #9896AE;
      display: flex;
      flex-direction: column;
      div.footer_help {
        width: 75vw;
        margin-bottom: 8vw;
        p {
          font-size: 3.6vw;
          line-height: 5.8vw;
          margin-bottom: 4vw;
        }
      }
      div.footer_sites {
        p {
          width: 75vw;
          font-size: 3.6vw;
          line-height: 5.8vw;
          margin-bottom: 6vw;
        }
        div.footer_sites_th {
          width: 90vw;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          img {
            width: 16vw;
          }
        }
      }
    }
    div.added_info {
      width: 100%;
      color: #9896AE;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      div.small_logo {
        display: block;
        img {
          display: block;
          width: 40vw;
        }
      }
      div.big_logo {
        img {
          display: none;
        }
      }

      div.added_info_added {
        margin-top: 6vw;
        display: flex;
        flex-direction: row;
        p {
          font-size: 3.4vw;
          margin-right: 3vw;
        }
        p:last-child {
          font-size: 3.4vw;
          margin-right: 0vw;
        }
      }
    }
  }

}
