.More_info {
  width: 1026px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-end;
  a {
    text-decoration: none;
    display: flex;
    float: right;
    span {
      margin-right: 8px;
    }
  }
  &.more_necrologies {
    width: 1200px;
  }
}
