

@media (min-width: 1440px) and (max-width: 1920px){
  .Navbar {
    background-color: var(--mineral-gray);
    width: 1440px;
    height: 60px;
    padding: 12px 119px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto;
    div.Navbar_menu {
      display: none;
      width: 204px;
      display: flex;
      justify-content: space-between;
      a {
        margin-right: 20px;
      }
      .Acclist {
        height: 150px;
        &:hover {
          .Account_action {
            visibility: visible;
          }
        }
         .Account_action {
           visibility: hidden;
           margin-top: 10px;
           margin-left: -94px;
           display: flex;
           flex-direction: column;
           align-items: flex-start;
           background-color: #ffffff;
           border-radius: 24px;
           padding: 24px 24px 32px 10px;
           .Sign {
             margin-bottom: 8px;
             a {
               font-family: "RedRing";
               font-size: 16px;
               color: var(--mineral-gray);
               font-weight: bold;
               &:hover {
                 color: #6F6B96;
                 background-color: transparent;
               }
             }
           }
         }
      }
    }

  }
}



@media (max-width: 375px) {
  .Navbar {
    background-color: var(--mineral-gray);
    width: 100vw;
    height: 48px;
    padding: 6px 20px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    margin: 0 auto;
    a {
      padding-top: 6px;
      img {
        width: 53px;
      }
    }
    div.Navbar_menu {
      width: 204px;
      display: flex;
      justify-content: flex-end;
      a {
        display: none;
      }
      a:first-child {
        padding-top: 0px;
        display: block;
        img {
            width: 36px;
        }
      }
    }
  }
}
