.post_preview {
  border-Radius: 32px;
  div {
    display: flex;
    flex-direction: column;
    margin: auto;
    left: 50%;
    justify-content: center;
    span {
      box-sizing: border-box;
      width: 360px;
      align-items: center;
      color: var(--ice-white);
      font-family: "RedRing", sans-serif;
      font-weight: bold;
    }

  }
  &.ps--vertical {
    width: 326px;
    height: 488px;
    div {
      margin-top: 57%;
    }
    span {
      margin-top: 8px;;
      font-size: 18px;
      line-height: 24px;
      font-weight: bold;
    }
    div.button_div {
      visibility: hidden;
    }
   }
  &.ps--horizontal_small {
   width: 501px;
   height: 296px;
   div {
     margin-top: 20%;
   }
   span {
     width: 501px;
     padding-left: 60px;
     padding-right: 60px;
     margin-top: 8px;
     font-size: 18px;
     line-height: 24px;
   }
   div.button_div {
     visibility: hidden;
   }
  }
  &.ps--horizontal_big {
   width: 851px;
   height: 326px;
   div {
     margin-top: 15%;
   }
   span {
     width: 851px;
     padding-left: 240px;
     padding-right: 240px;
     margin-top: 8px;
     font-size: 18px;
     line-height: 24px;
   }
   div.button_div {
     visibility: hidden;
   }
  }
  &.ps--horizontal_medium {
   width: 501px;
   height: 326px;
   div {
     margin-top: 23%;
   }
   span {
     width: 501px;
     padding-left: 100px;
     padding-right: 100px;
     margin-top: 8px;
     font-size: 18px;
     line-height: 24px;
   }
   div.button_div {
     visibility: hidden;
   }
  }
  &.ps--screen_narrow {
   width: 1026px;
   height: 367px;
   div {
     font-size: 24px;
     line-height: 30px;
     margin-top: 10%;
   }
   span {
     width: 1026px;
     padding-left: 300px;
     padding-right: 300px;
     margin-top: 8px;
     font-size: 24px;
     line-height: 32px;
   }
   div.button_div {
     margin-top: 0px;
     width: 1026px;
     display: flex;
     align-items: center;
     button {
       visibility: visible;
       margin-top: 32px;
       width: 98px;
       div {
         margin-top: 0;
         font-size: 14px;
         line-height: 24px;
       }

     }
   }
  }
  &.ps--screen {
   width: 100vw;
   height: 800px;
   div {
     display: flex;
     width: 100vw;
     font-size: 24px;
     line-height: 30px;
     margin-top: 330px;
     align-items: center;
   }
   span {
     width: 550px;
     text-align: center;
     margin-top: 8px;
     font-size: 24px;
     line-height: 32px;
   }
   div.button_div {
     margin-top: 0px;
     display: flex;
     align-items: center;
     button {
       visibility: visible;
       margin-top: 32px;
       width: 98px;
       div {
         width: 48px;
         margin-top: 0;
         font-size: 14px;
         line-height: 24px;
       }

     }
   }
  }
}
