.Project_side_info {
  position: relative;
  margin-top: -63px;
  width: 358px;

  div.Social_icons_holder {
      margin-bottom: -1px;
      margin-top: -58px;
      .Shape {
        height: 64px;
        background-image: url(social_icons_holder.svg);
        background-repeat: no-repeat;
      }
  }
  .Project_side_background {
    padding-left: 70px;
    padding-bottom: 100px;
    padding-top: 46px;
    width: 358px;
    background-color: var(--mineral-gray);
    .Side_info_section_1 {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .Side_info_block {
        margin-bottom: 35px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        a {
          color: white;
          font-size: 14px;
          font-family: "RedRing";
          font-weight: normal;
        }
      }
    }
    .Side_info_section_2 {
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      .Side_info_block {
        margin-bottom: 35px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        a {
          color: white;
          font-size: 14px;
          font-family: "RedRing";
          font-weight: normal;
        }
      }
    }
  }

}
