.Release_preview_default {
  margin-bottom: 16px;
  width: 327px;
  height: 100px;
  display: flex;
  justify-content: space-between;;
  border-radius: 32px;
  .Release_default_wrapper {
    width: 327px;
    display: flex;
    flex-direction: row;
    padding: 14px 0 19px 8px;
    border-radius: 32px;
    .Date_container {
      width: 80px;
      height: 56px;
      display: flex;
      flex-direction: column;
      margin-right: 24px;
      align-self: center;
      .Day {
        font-size: 36px;
        line-height: 36px;
        color: var(--ice-white);
        height: 36px;
        text-align: center;
      }
      .Month {
        font-size: 18px;
        height: 20px;
        color: var(--ice-white);
        text-align: center;
      }
    }
    .Release_about {
      width: 195px;
      .heading {
        font-size: 24px;
        line-height: 32px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
      .Genres {
        display: flex;
        .Genre {
          width: 34px;
          height: 34px;
          margin-right: 4px;
          img {
            width: 34px;
            filter: brightness(0) invert(1);
          }
        }
      }
    }
  }
}
