.Spider_and_mask {
  height: 856px;
  .Spider {
    clip-path: url(#mask1);
    height: 826px;
    box-sizing: border-box;
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 1376px;
    margin: 0 auto;
    .Preview_wrapper {
      align-items: center;
      display: flex;
      flex-direction: column;
      vertical-align: middle;
      justify-content: center;
      width: 394px;
      .Post_info {
        align-items: center;
        display: flex;
        flex-direction: column;
        .Category {
          margin-bottom: 8px;
        }
      }
      .btn {
        margin-top: 32px;
      }
    }
  }
  svg {
    height: 0px;
  }
}
