@media (min-width: 1440px) and (max-width: 1920px) {
  .Userpost_commentform {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    div {
      width: 42px;
      height: 42px;
      img.Avatar {
        width: 42px;
        height: 42px;
      }
    }
  }
}

@media (max-width: 375px) {
  .Userpost_commentform {
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
  }
}
