.Userpost_preview {
  width: 671px;
  background-color: var(--ice-white);
  margin-bottom: 24px;
  box-sizing: border-box;
  border-radius: 32px;
  padding: 30px;
  .Userpost_img {
    border-radius: 4px;
    width: 612px;
    height: 612px;
    display: flex;
    overflow: hidden;
    .Userpost_img_cover {
      object-fit: cover;
      border-radius: 4px;
    }
  }
}
