@media (min-width: 1440px) and (max-width: 1920px) {
  .Video_preview {
    background-color: var(--ice-white);
    width: fit-content;
    border-radius: 32px;
    div {
      width: 501px;
      height: 256px;
      div {
        border-radius: 32px;
        div.react-player__preview {
          width: 501px;
          height: 256px;
        }
        .react-player__shadow {
          margin-left: 40px;
          width: 100px;
          .react-player__play-icon {
            border-radius: 0px;
            width: 100px;
            height: 30px;
          }
        }
      }
    }
    .Preview_wrapper {
      width: 501px;
      height: 104px;
      .Post_info {
        position: relative;
        width: 501px;
        text-align: center;
        padding: 24px 40px ;
        .Category {
          margin: 0 auto;
          margin-left: -40px;
          position: absolute;
          top: -220px;
          width: 501px;
          &:hover {
              color: #B8E432;

          }
        }
        .Heading {
          width: 421px;
          color: (--navy-blue);
        }
      }
    }
  }

}

@media (max-width: 375px) {
  .Video_preview {
    overflow-y: hidden;
    width: 335px;
    height: 313px;
    background-color: var(--ice-white);
    width: fit-content;
    border-radius: 32px;
    div {
      width: 335px;
      height: 198px;
      div {
        border-radius: 32px;
        div.react-player__preview {
          width: 335px;
          height: 198px;
        }
        .react-player__shadow {
           margin-left: 40px;
          .react-player__play-icon {
            border-radius: 0px;
            width: 100px;
            height: 30px;
          }
        }
      }
    }
    .Preview_wrapper {
      overflow-y: hidden;
      width: 335px;
      height: 120px;
      .Post_info {
        padding: 20px 40px 20px 40px;
        position: relative;
        width: 335px;
        text-align: center;
        .Category {
          margin: 0 auto;
          position: absolute;
          top: -270px;
          width: 501px;
        }
        .Heading {
          width: 421px;
          font-size: 18px;
          line-height: 24px;
        }
      }
    }
  }

}
