nav {
  div {
    height: 5vw;
    display: flex;
    justify-content: space-between;
    padding: 0 4.7vw;
    z-index: 1;
    position: relative;
    div.graphiklogo {
      padding: 0vw;
      img {
        display: block;
        width: 10vw;
      }
    }
    div.fontlogo {
      img {
        display: none;
      }
    }
    div {
      div{
        a {
          display: none;
        }
      }
      div.menul {
        padding: 0vw;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        img {
          display: block;
          width: 7vw;
        }
      }
    }
  }

  div.menu_mobile {
    top: 0;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 2;
    background-color: #04005E;
    div.cancel {
      img {

      }
    }
    div.menu_mobile_th {
      margin: 40vw ;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      a {
        text-decoration: none;
        font-size: 8vw;
        color: #75FEFA;
        margin-bottom: 10vw;
      }
    }
  }

}

@media (max-width: 768px) {
  nav {
    div {
      height: 5vw;
      display: flex;
      justify-content: space-between;
      padding: 0 4.7vw;
      z-index: 1;
      position: relative;
      div.graphiklogo {
        img {
          display: block;
          width: 8vw;
        }
      }
      div.fontlogo {
        img {
          display: none;
        }
      }

      div{
        a {
          display: none;
        }
      }
      div.menu {
        img {
          display: block;
          width: 8vw;
        }
      }
    }

  }

}

@media (max-width: 1920px ) {
  nav {
    div {
      height: 5vw;
      display: flex;
      justify-content: space-between;
      padding: 0 4.7vw;
      z-index: 1;
      position: relative;
      img:first-child {
        display: none;
      }
      div{
        padding: 0vw;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2vw;
        a:last-child {
          line-height: 1.8vw;
          padding: 0.1vw 1.5vw;
          border: 0.2vw solid black;
          border-radius: 2vw;
        }
      }
      div.menu {
        img {
          display: none;
        }
      }
     }
    }

}
