.navleft {
  padding: 0 2vw 3vw;
  width: 10vw;
  height: 100vh;
  background-color: lightgray;
  margin: 0;
  display: flex;
  flex-direction: column;
  vertical-align: top;
  align-content: space-between;
  justify-content: space-between;
  position: fixed;
  .top {
  align-items: self-start;
  flex-direction: column;
  width: fit-content;
    .user_info {
      display: flex;
      flex-direction: column;
      height: fit-content;
      margin-top: 10vw;
      align-items: flex-start;
      margin-top: 0;
      width: fit-content;
      div {
        flex-direction: column;
        height: fit-content;
        margin-top: 10vw;
        align-items: flex-start;
        margin-top: 5vw;
        margin-bottom: 1vw;
        width: fit-content;
        img {
          width: 5vw;
        }
      }
      span {
        line-height: 1.6vw;
        font-size: 1vw;
        width: 10vw;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        resize: horizontal;
      }
    }
    .nav_content {
      margin-top: 3vw;
      flex-direction: column;
      align-items: flex-start;
      width: fit-content;
      a {
        line-height: 1.6vw;
        font-size: 1vw;
        border: 0;
        padding: 0;
      }
    }
  }
  .user_action {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 7vw;
    padding-bottom: 3vw;
    a {
      line-height: 1.6vw;
      font-size: 1vw;
      border: 0;
      padding: 0;
    }
  }
}
