@media (min-width: 1440px) and (max-width: 1920px) {
  .Necrologies_grid {
    background-image: url(necrology.png);
    background-size: 120vw 100vw;
    background-repeat: no-repeat;
    margin: 0 auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto 1fr;
    grid-gap: 44px;
    margin-bottom: 24px;
  }
}

@media (max-width: 375px) {
  .Necrologies_grid {
    margin: 0 auto;
    width: auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 0;
    margin-bottom: 24px;
  }
}
