.project_wrapper {
  .M_project_div{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    .M_project_side_info_body {
      width: 1082px;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
}
