// Place all the styles related to the promo controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
// @font-face {
//   font-family: "Progmatica-Book";
//   src: url(/assets/Progmatica-Book.woff) format("woff");
// }
body {
  background-image: url(background_1.png);
  background-repeat: no-repeat;
  height: 500vw;
  font-family:"Progmatica-Book";
  .first {
    position: relative;
    height: 55vw;
    >img {
      position: absolute;
      margin-top: -5.2vw;
      z-index: -1;
      opacity: 30%;
      width: 62.1vw;
    }
    .left {
      width: 53vw;
      display: inline-block;
      vertical-align: top;
      padding: 5.6vw 0 0 4.7vw;
      p {
        font-size: 1.7vw;
        line-height: 2.3vw;
        margin-top: 1.8vw;
      }
    }
    .right {
      width: 40vw;
      display: inline-block;
      img {
        margin-top: 8vw;
      }
    }
  }
}
