.Article_page {
  position: relative;
  .Article_image_header {
    height: 291px;
    position: relative;
    .Article_marker_holder{
      position: absolute;
      width: 1095px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      left: 50%;
      transform: translate(-50%);
      .Posttype_marker {
        right: 0;
      }
    }
    .Social_icons_holder_article {
      margin-bottom: -1px;
      margin-top: -58px;
      .Shape {
        height: 64px;
        background-image: url(social_icons_article.svg);
        background-repeat: no-repeat;
        .Social_icons {
          .Social_icon {
            img {
              display: none;
            }
          }
        }
      }
    }
  }
  .Article_puzzle_heading {
    .heading {
      display: block;
      margin: 91px 0 32px 0;
    }
  }
}
