div.search-page {
  margin-left: 205px;
  padding-top: 48px;
  h1.r {
    margin-top: 55px;
    color: var(--mineral-gray);
    font-size: 16px;
    font-family: "RedRing";
    font-weight: normal;
    margin-bottom: 20px;
  }
  .search {

  }
  .search-page_preview {
    display: flex;
    flex-direction: row;
    .search-page_preview_posts {
       margin-right: 115px;
    }
    .search-page_preview_tags {
        background-image: url(popular_hashtag.svg);
        background-repeat: no-repeat;
        width: 295px;
        height: 485px;
    }
  }
}
