.Project_page {
  position: relative;
  .Project_image_header {
    border-radius: 32px 32px 0px 0px;
    top: 0px;
    height: 291px;
    position: fixed;
    .Project_cover {
      border-radius: 32px 32px 0px 0px;
    }
    .Article_marker_holder{
      position: absolute;
      top: 59px;
      width: 1440px;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      .Project_marker_placeholder {
        background-color: var(--zelda-green);
        margin-right: 187px;
        width: 124px;
        height: 50px;
        padding: 16px 12px;
        text-align: center;
        font-size: 16px;
        color: var(--mineral-gray);
        border-radius: 0 0 16px 16px;
      }
    }
  }
  .M_project_div {
    margin-top: 202px;
    display: block;
    .M_project_left_section {
      position: fixed;
      display: inline-block;
    }
    .M_project_right_section {
        position: relative;
        background-color: #EDF2FF;
        border-radius: 32px;
        display: inline-block;
        width: 1084px;
        margin-left: 357px;
        padding: 0 210px;
        display: flex;
        flex-direction: column;
        .M_project_right_section_1 {
          width: 638px;
          display: flex;
          flex-direction: column;
          align-items: center;
        }
    }
  }
}
