<body class="edit_post">
   <div class="edit_post_wrapper">
     <div class="edit_post_card">
      <h1>Редактирование категории</h1>

      <%= render 'form', category: @category %>

      <%= link_to 'Открыть', @category %> |
      <%= link_to 'Назад', admin_context_path(categories: "") %>
    </div>
  </div>
</body>
