<body class="show_body">
  <div class="wrapper_show">

    <p id="notice"><%= notice %></p>
    <%= react_component 'M_catview', { category: @category } %>
      <%= link_to 'Редактировать', edit_category_path(@category) %> |
      <%= link_to 'Назад', admin_context_path(categories: "") %>
    </div>
</body>
